@charset "ISO-8859-1";

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.custom-bg {
	background-color: #FC9D33 !important;
}

.boderShadow {
	box-shadow: 0.1rem 0.2rem 1rem #FC9D33;
	border-radius: 0.5rem;
}

.iconRegister {
	margin-bottom: 0.6rem;
	margin-left: 3rem;
}

.iconRegister i {
	font-size: 3rem;
	position: absolute;
}

.adminCardShadow {
	box-shadow: 0.01rem 0.02rem 0.3rem #FC9D33;
}

.adminCardShadow div img {
	max-height: 10rem;
	max-width: 93%;
	width: auto;
}